{% extends 'base.html' %}

{% block body %}

<div class="container" id="authentication">
    <h1>Change Password</h1>

    <form method="POST" action="{{ url_for('account.change_password') }}">
        <label>Enter your current password:</label>
        <input
        type="password"
        id="password"
        name="current_password"
        placeholder="Password"
        required
        /><br><br>

        <label>New Password:</label><br>
        <input
        type="password"
        id="password"
        name="new_password"
        placeholder="Password"
        required
        /><br><br>

        <label>Confirm Password:</label><br>
        <input
        type="password"
        id="password"
        name="confirm_password"
        placeholder="Password"
        required
        /><br><br>
        
        <button type="submit" class="submit-btn">Reset Password</button>
    </form>
</div>

{% endblock %}