{% extends 'base.html' %}

{% block body %}
<body class="confirm_delete">
    <div class="choice" id="confirm_delete">

        <h2>Are you sure you want to delete your account?</h2><br>
        <p>
            This action is permanent and irreversible.
        </p><br>

        <form method="POST" action="{{ url_for('account.delete_account') }}">
            <button type="submit" name="choice" value="yes" class="submit-btn">
                Yes, delete my account.
            </button>
            
            <a href="{{ url_for('account.dashboard') }}" class="btn1">
                No, go back to dashboard.
            </a>
        </form>

    </div>
</body>
{% endblock %}
