{% extends 'base.html' %}

{% block body %}

<div class="wrapper">
    <h2>Dashboard</h2>
    <h3>You are logged in!</h3>
    <br>

    <div class="top-row">
        <!-- changing profile picture -->
        {% if user.profile_pic %}
            <img src="{{ url_for('static', filename='profile_pics/' + user.profile_pic, t=time_now) }}" class="profile-pfp">
        {% else %}
            <img src="{{ url_for('static', filename='profile_pics/default.jpg', t=time_now) }}" class="profile-pfp">
        {% endif %}

        <div class="equal-height">
            <div class="user_data">
                <strong>User ID: </strong>{{ user.id }}<br>
                <strong>Username: </strong>{{ user.username }}<br>
                <strong>Email: </strong>{{ user.email }}<br><br>

                <p><a href="{{ url_for('user.user_list', user_id=user.id) }}">View users</a></p>

            </div>

            <div class="profile-bio">
                <h3>About me</h3><br>
                {{ user.bio or "No bio yet."}}<br>
            </div>
            
        </div>
    </div>
    <br><br>


    <div class="update_info">
        <h3>Update profile:</h3>
        <hr> <br>
        
        <!-- use a form to edit user details -->
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('account.update_profile') }}">
            <label>Change username</label>
            <input name="username">
            <br><br>

            <label>Profile picture</label>
            <input type="file" name="profile_pic">
            <br><br>

            <label>Bio: </label><br>
            <textarea name="bio" class="add-bio"></textarea>
            <br><br>

            <div class="center-btn">
                <button type="submit" class="submit-btn">Save Changes</button>
            </div>
        </form>
    </div>
    <br><br>
    
    <div>
        <h3>Other options: </h3><hr> <br>
        <a href="{{ url_for('auth_user.logout') }}" class="btn1">Log out</a>
        <a href="{{ url_for('account.change_password') }}" class="btn1">Change password</a>
        <br><br>
        <a href="{{ url_for('account.delete_account') }}" class="delete-btn">Delete account</a>
    </div>
</div>
{% endblock %}