{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Forgot Password?</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div style="color: rgb(0, 0, 0);">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <form method="POST" action="{{ url_for('auth_user.forgot_password') }}">
            <p>Please enter your email to reset your password.</p> <br>
            <label>Email:</label>
            <input
            type="email"
            name="email"
            placeholder="Email"
            required
            /><br><br>
            <button type="submit" class="submit-btn">Send reset link</button>
        </form>
    </div>
</div>
{% endblock %}