{% extends 'base.html' %}

{% block body %}
<div class="container" id="authentication">
    <h1>Reset Password</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div style="color: rgb(0, 0, 0);">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.reset_token', token=token) }}">
        <label>New Password:</label><br>
        <input
        type="password"
        id="password"
        name="new_password"
        placeholder="Password"
        required
        /><br><br>

        <label>Confirm Password:</label><br>
        <input
        type="password"
        id="password"
        name="confirm_password"
        placeholder="Password"
        required
        /><br><br>
        
        <button type="submit">Reset Password</button>
    </form>
</div>

{% endblock %}