<!-- all codes on this page belongs to siti other than some minor adjustments by alya -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">

<div class="container">
  <a href="{{ url_for('main.index') }}" class="cart-button back-button">
   Back
</a>
  <h1>Your Wishlist</h1>

  {% if items %}
  <table class="cart-table">
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Action</th>
      <th>Report</th>
    </tr>

    {% for item, qty in items %}
    <tr>
      <td>
        <a href="{{ url_for('item.item_detail', item_id=item.id) }}">
        {{ item.title }}
        </a>
      </td>
      <td>RM {{ '%.2f'|format(item.price) }}</td>
      <td>
        <a href="{{ url_for('user.profile', user_id=item.seller_id) }}">
          {{ item.seller.username }}
        </a>
      </td>
      <td>
        <a class="remove-link" href="{{ url_for('cart.remove_from_cart', item_id=item.id) }}">
          Remove
        </a>
      </td>
      <td>
        <a href="{{ url_for('reports.report_listing', listing_id=item.id) }}">
          Report listing
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <p class="wishlist-note">
  Items in your wishlist are saved for reference. 
  Contact the seller to purchase an item.
</p>

  {% else %}
    <p>Your Wishlist is empty.</p>
  {% endif %}
</div>