<!-- all codes on this page belongs to siti other than some minor adjustments by alya -->

{% extends 'base.html' %}

<head>
  <meta charset="utf-8">
  <title>{{ item.title }} — MiniIT UniThrift</title>
</head>

{% block body %}
<div class="container-a">

<a href="{{ url_for('main.index') }}" class="cart-button back-button">
   Back
</a>
  <div class="detail-container">

    <div class="detail-card">

      <div class="image-section">
        <img
          src="{{ url_for('static', filename=item.image_path) }}"
          alt="{{ item.title }}"
        >
      </div>

      <div class="info-section">
        <h1>{{ item.title }}</h1>

        <p class="price">RM {{ '%.2f'|format(item.price or 0) }}</p>

        <p class="description">{{ item.description }}</p> <br>

        <p>Sold by: <a href="{{ url_for('user.profile', user_id=item.seller_id) }}"> {{ item.seller.username }} </a>
        </p> <br>

        <form action="{{ url_for('cart.add_to_cart', item_id=item.id) }}" method="get">
  <button type="submit" class="btn primary">Add to Cart</button>
</form><br>
        {% if item.status == 'active' %}
                <a href="{{ url_for('reports.report_listing', listing_id=item.id) }}" class="btn danger">⚠︎ Report listing</a>
            {% else %}
                (suspended)
            {% endif %}

        {% if current_user.id == item.seller_id %}
        <div class="button-row">
          <a href="{{ url_for('item.edit_item', item_id=item.id) }}" class="btn primary">
            Edit
          </a>

          <form
            action="{{ url_for('item.delete_item', item_id=item.id) }}"
            method="post"
          >
            <button type="submit" class="btn danger">Delete</button>
          </form>
        </div>
        {% endif %}

      </div>

    </div>

  </div>
</div>
{% endblock %}
