<!-- all codes on this page belongs to siti other than some minor adjustments by alya -->

<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/uploaditem.css') }}">
  <meta charset="utf-8">
  <title>Upload Item - MiniIT UniThrift</title>
</head>
<body>

  <div class="form-container">

    <h1>Upload New Item</h1>

    <form method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label>Item Title</label>
        <input type="text" name="title" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description" required></textarea>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="number" step="0.01" name="price" required>
      </div>

      <div class="form-group">
        <label>Item Image</label>
        <input type="file" name="image" required>
      </div>

      <div class="button-row">
        <button type="submit">Upload Item</button>
        
        <a href="{{ url_for('main.index') }}" class="cancel-btn">
          Cancel
        </a>
      </div>

    </form>

  </div>

</body>
</html>
