{% extends 'base.html' %}

{% block body %}

<div class="wrapper-message">
    <div class="chat-header">
        <h2><a href="{{ url_for('user.profile', user_id=other_user.id) }}">Chat with {{ other_user.username }}</a></h2>
    </div>

    <div class="message-scroll-area" id="message-window">
        {% for msg in messages %}
            {% if msg.sender_id == current_user.id %}
                <div class="message-outgoing">
                    <p>{{ msg.body }}</p>
                    <!-- prints user pfp -->
                    {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_pic, t=time_now) }}" class="outgoing-pfp">
                    {% else %}
                        <img src="{{ url_for('static', filename='profile_pics/default.jpg', t=time_now) }}" class="outgoing-pfp">
                    {% endif %}
                    
                </div>
                <span class="time-outgoing">{{ msg.timestamp.strftime('%H:%M') }}</span>
            {% else %}
                <div class="message-incoming">
                    <!-- prints user pfp -->
                    {% if other_user.profile_pic %}
                        <img src="{{ url_for('static', filename='profile_pics/' + other_user.profile_pic, t=time_now) }}" class="incoming-pfp">
                    {% else %}
                        <img src="{{ url_for('static', filename='profile_pics/default.jpg', t=time_now) }}" class="incoming-pfp">
                    {% endif %}
                    <p>{{ msg.body }}</p>
                    
                </div>
                <span class="time-incoming">{{ msg.timestamp.strftime('%H:%M') }}</span>
            {% endif %}
        {% endfor %}

        
    </div>

    <div class="chat-footer">
        <form method="POST">
            <textarea
            name="text"
            id="text"
            class="message-bar"
            placeholder="Send a message..." 
            required
            ></textarea>

            <button type="submit" class="btn1">Send</button>
        </form>
    </div>
    
</div>

<script>
    // Automatically scroll to the bottom on load
    window.onload = function() {
        var objDiv = document.getElementById("message-window");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>

{% endblock %}